/*specify*/
@font-face {
    font-family: Gotham; /* Имя шрифта */
    src: url(../fonts/9781.otf);
    font-weight: 700; /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: GothamPro; /* Имя шрифта */
    src: url(../fonts/11031.ttf);
    font-weight: 400; /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Gotham; /* Имя шрифта */
    src: url(../fonts/10178.otf); /* Путь к файлу со шрифтом */
    font-weight: 300;
   }

html{
	font-family: GothamPro;
	font-size: 12px;

}

ul,li,a, select{
	margin: 0;
	padding: 0;
}


/*header*/
.header{
	background-color: #eef1f2;
	padding: 45px 0 35px;
	font-size: 1.2rem;

}

.menu__item {
	list-style-type: none;
	margin-left: 32px;
}

.menu__item a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: GothamPro;
	font-weight: 400;
	color: #3f4147 ;

	transition: 0.3s ease;
}
.menu__item a:hover{
	color: #ab2970;
}

.language{
	font-family: GothamPro;
	text-transform: uppercase;
	color: #ab2970;
	background-color: transparent;
	outline: none;
	border: 2px solid #dbdee2;
	border-radius: 50px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
}
